{% extends "layout/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block main %}

<div class="w-full flex flex-col items-center" style="">
  <div
    class="max-w-screen-desktop w-full desktop:px-[112px] tablet:px-[50px] flex flex-col align-middle items-center"
    style=""
  >
    <!--Behind the scenes-->
    <div
      class="w-full flex flex-row items-center justify-center xl:p-10 p-6 mt-28 grow"
      style=""
    >
      <div
        class="flex flex-col w-1/2 h-fit justify-center text-left items-center align-middle grow tablet:pl-0 sm:pl-5 pl-2"
      >
        <div
          class="2xl:text-[68px] xl:text-[52px] text-[40px] pb-2 w-full whitespace-nowrap font-bold primaryfont"
        >
          <span class="text-primary-color dark:text-dark-light-grey">Behind the </span
          ><span class="text-accent-color dark:text-dark-orange">scenes.</span>
        </div>
        <div
          class="2xl:text-[20px] xl:text-[18px] text-[16px] texteerieblack border-t-2 pt-6 border-black dark:text-dark-light-grey"
        >
          Lorem ipsum dolor sit amet consectetur. Consectetur mauris nulla
          tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.
        </div>
        <div
          class="2xl:mt-28 xl:mt-20 mt-16 2xl:text-[20px] xl:text-[18px] text-[16px] texteerieblack dark:text-dark-light-grey"
        >
          "Lorem ipsum dolor sit amet consectetur. Consectetur mauris
          nulla tellus ultricies lobortis."
        </div>
        <div
          class="flex flex-row mt-6 texteerieblack justify-start align-middle items-center w-full p-2"
        >
          <img
            class="rounded-full w-[50px] h-[50px]"
            src="{% static "images/images/CEO.png" %}"
          />
          <div class="flex flex-col ml-6 dark:text-dark-light-grey">
            <span class="font-bold primaryfont text-[20px]"
              >Eric Burnik</span
            ><span class="text-[18px]">CEO Founder of hubinit</span>
          </div>
        </div>
      </div>
      <div
        class="relative w-1/2 2xl:ml-20 xl:ml-16 ml-10 justify-center grow rounded-3xl shadow-lg"
      >
        <img src="{% static "images/images/behindthescenes.png" %}" /><svg
          class="absolute mobile:left-1/2 left-[30%] mobile:top-1/2 top-[30%]"
          width="37"
          height="48"
          viewBox="0 0 37 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.01631 7.07543C7.01643 7.07551 7.01576 7.07737 7.01393 7.08078ZM6.99967 7.95731V40.0427L30.3259 24.0816C30.3302 24.0582 30.333 24.0304 30.333 24C30.333 23.9696 30.3302 23.9418 30.3259 23.9184L6.99967 7.95731ZM30.4328 24.0085L30.4319 24.0092ZM7.01631 40.9246C7.01618 40.9247 7.01523 40.9229 7.01386 40.9191ZM3.17084 1.66482C5.00907 0.426325 7.52037 0.235633 9.64444 1.68904L34.1975 18.4896C36.1879 19.8515 36.9997 22.0681 36.9997 24C36.9997 25.9319 36.1879 28.1485 34.1975 29.5105L9.64445 46.311C7.52038 47.7644 5.00908 47.5737 3.17084 46.3352C1.39504 45.1388 0.333008 43.0686 0.333008 40.8005V7.19948C0.333008 4.93139 1.39504 2.86125 3.17084 1.66482Z"
            fill="white"
          ></path>
        </svg>
      </div>
    </div>
    <!--Our partners-->
    <div
      class="flex relative cnnContents w-full text-lg text-gray-600 justify-around mobile:mt-24 overflow-hidden"
    >
      <div class="flex flex-row w-full justify-around marqueeStyle">
        <img src="{% static "images/images/clients.png" %}" />
      </div>
      <div
        class="flex flex-row w-full justify-around marqueeStyle2 absolute right-[-100%]"
      >
        <img src="{% static "images/images/clients.png" %}" />
      </div>
    </div>
    <div class="w-4/5 border-2 bg-gray-200 mt-14"></div>
    <!--Who are we?-->
    <div
      class="tablet:mt-14 mt-[40px] w-full justify-center align-middle items-center flex flex-col dark:text-dark-light-grey"
    >
      <span class="text-[68px] font-bold primaryfont">Who are we?</span>
      <div
        class="mt-16 w-full tablet:justify-start justify-center flex tablet:text-[48px] mobile:text-[32px] text-[25px] font-bold primaryfont p-10"
      >
        <span>Our tribe</span
        ><span class="tablet:accentcolor">&nbsp;members</span>
      </div>
      <div
        class="flex flex-row mt-14 w-full tablet:justify-start justify-center tablet:text-[28px] mobile:text-[20px] text-[12px] mobile:px-10 gap-10"
      >
        <span
          class="tablet:underline tablet:underline-offset-8 tablet:decoration-orange-500"
          >Marketing</span
        ><span>Design</span><span>Sales</span>
      </div>
      <div class="relative tablet:mt-[75px] mt-[40px] w-full">
        <div
          class="owl-carousel w-full owl-theme"
          style="opacity: 1; display: block"
        >
          <!-- <div class="owl-wrapper-outer">
            <div
              class="owl-wrapper"
              style="width: 4298px; left: 0px; display: block"
            > -->
              <div class="owl-item" style="width: 307px">
                <div
                  class="flex h-[309px] mb-[26px] flex-col shadow-lg rounded-xl w-fit text-center mr-10 mb-[30px]"
                >
                  <img
                    class="w-[220px] h-[220px]"
                    src="{% static "images/images/danielle.png" %}"
                  /><span class="text-[20px]">Danielle Inserra</span
                  ><span class="text-[16px] mb-8">UI/UX Designer</span>
                </div>
              </div>
              <div class="owl-item" style="width: 307px">
                <div
                  class="flex h-[309px] mb-[26px] flex-col shadow-lg rounded-xl w-fit text-center mr-10 mb-[30px]"
                >
                  <img
                    class="w-[220px] h-[220px]"
                    src="{% static "images/images/danielle.png" %}"
                  /><span class="text-[20px]">Danielle Inserra</span
                  ><span class="text-[16px] mb-8">UI/UX Designer</span>
                </div>
              </div>
              <div class="owl-item" style="width: 307px">
                <div
                  class="flex h-[309px] mb-[26px] flex-col shadow-lg rounded-xl w-fit text-center mr-10 mb-[30px]"
                >
                  <img
                    class="w-[220px] h-[220px]"
                    src="{% static "images/images/danielle.png" %}"
                  /><span class="text-[20px]">Danielle Inserra</span
                  ><span class="text-[16px] mb-8">UI/UX Designer</span>
                </div>
              </div>
              <div class="owl-item" style="width: 307px">
                <div
                  class="flex h-[309px] mb-[26px] flex-col shadow-lg rounded-xl w-fit text-center mr-10 mb-[30px]"
                >
                  <img
                    class="w-[220px] h-[220px]"
                    src="{% static "images/images/danielle.png" %}"
                  /><span class="text-[20px]">Danielle Inserra</span
                  ><span class="text-[16px] mb-8">UI/UX Designer</span>
                </div>
              </div>
              <div class="owl-item" style="width: 307px">
                <div
                  class="flex h-[309px] mb-[26px] flex-col shadow-lg rounded-xl w-fit text-center mr-10 mb-[30px]"
                >
                  <img
                    class="w-[220px] h-[220px]"
                    src="{% static "images/images/danielle.png" %}"
                  /><span class="text-[20px]">Danielle Inserra</span
                  ><span class="text-[16px] mb-8">UI/UX Designer</span>
                </div>
              </div>
              <div class="owl-item" style="width: 307px">
                <div
                  class="flex h-[309px] mb-[26px] flex-col shadow-lg rounded-xl w-fit text-center mr-10 mb-[30px]"
                >
                  <img
                    class="w-[220px] h-[220px]"
                    src="{% static "images/images/danielle.png" %}"
                  /><span class="text-[20px]">Danielle Inserra</span
                  ><span class="text-[16px] mb-8">UI/UX Designer</span>
                </div>
              </div>
              <div class="owl-item" style="width: 307px">
                <div
                  class="flex h-[309px] mb-[26px] flex-col shadow-lg rounded-xl w-fit text-center mr-10 mb-[30px]"
                >
                  <img
                    class="w-[220px] h-[220px]"
                    src="{% static 'images/images/danielle.png' %}"
                  /><span class="text-[20px]">Danielle Inserra</span
                  ><span class="text-[16px] mb-8">UI/UX Designer</span>
                </div>
              </div>
            <!-- </div>
          </div> -->
        </div>
        <div
          class="absolute right-0 top-0 w-[15%] h-full gradient pointer-events-none border-none dark:bg-gradient-to-l from-dark-bg"
        ></div>
      </div>
      <button
        class="bg-accent-color dark:bg-dark-orange text-[22px] px-[55px] py-[28px] text-white rounded-xl mt-32"
      >
        Write to the team
      </button>
    </div>
    <!--v-if--><!--Our pride-->
    <div class="tablet:mt-44 mt-[40px] w-full flex flex-col p-10">
      <div
        class="flex w-full tablet:justify-start justify-center tablet:text-[48px] mobile:text-[32px] text-[25px] font-bold primaryfont"
      >
        <span class="dark:text-dark-light-grey">Our</span
        ><span class="tablet:text-accent-color dark:text-dark-orange">&nbsp;pride</span>
      </div>
      <div
        class="tablet:mt-44 mobile:mt-[100px] mt-[40px] flex tablet:flex-row w-full justify-end items-center align-middle lg:whitespace-nowrap text-right dark:text-dark-light-grey"
      >
        <div
          class="flex flex-col items-end justify-end align-bottom -mb-10"
        >
          <!--v-if--><span
            class="font-bold primaryfont 2xl:text-[30px] mobile:text-[26px] text-[16px]"
            >Gender equity</span
          ><span
            class="2xl:text-[20px] xl:text-[18px] mobile:text-[16px] text-[8px]"
            >Lorem ipsum dolor sit amet consectetur.
          </span>
        </div>
        <span
          class="2xl:text-[158px] xl:text-[120px] lg:text-[100px] text-[80px] font-bold primaryfont z-30 ml-4"
          >59.88%</span
        ><img
          class="w-2/5 tablet:-ml-20 z-10"
          src="{% static 'images/images/ourpride1.png' %}"
        />
      </div>
      <div
        class="tablet:mt-20 mt-[40px] flex flex-row w-full justify-start items-center align-middle lg:whitespace-nowrap dark:text-dark-light-grey"
      >
        <img
          class="w-2/5 tablet:-mr-20 z-10"
          src="{% static 'images/images/ourpride2.png' %}"
        /><span
          class="2xl:text-[158px] xl:text-[120px] lg:text-[100px] text-[80px] font-bold primaryfont z-30 mr-4"
          >20+</span
        >
        <div
          class="flex flex-col items-start justify-start align-bottom -mb-10"
        >
          <!--v-if--><span
            class="font-bold primaryfont 2xl:text-[30px] xl:text-[26px] mobile:text-[26px] text-[16px]"
            >Countries &amp; Cultures</span
          ><span
            class="2xl:text-[20px] xl:text-[18px] mobile:text-[16px] text-[8px]"
            >Lorem ipsum dolor sit amet consectetur.
          </span>
        </div>
      </div>
    </div>
    <div
      class="w-4/5 border-2 bg-gray-200 tablet:mt-40 mobile:mt-[100px] mt-[60px]"
    ></div>
    <!--We believe in hard work-->
    <div class="mt-10 flex flex-row w-full align-middle items-center">
      <img class="w-[30%]" src="{% static 'images/images/ourpride3.png' %}" />
      <div class="flex flex-col">
        <div
          class="w-full font-bold primaryfont 2xl:text-[68px] xl:text-[52px] tablet:text-[46px] sm:text-[38px] mobile:text-[28px] text-[25px] xl:whitespace-nowrap"
        >
          <span class="text-primary-color dark:text-dark-light-grey">We believe in</span
          ><span class="text-accent-color dark:text-dark-orange">&nbsp;hard work</span
          ><span class="text-primary-color dark:text-dark-light-grey">&nbsp;and<br /></span
          ><span class="text-accent-color dark:text-dark-orange">dedication</span>
        </div>
        <span class="texteerieblack mt-9 text-[20px] dark:text-dark-light-grey">
          Lorem ipsum dolor sit amet consectetur. Consectetur mauris nulla
          tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.
        </span>
      </div>
    </div>
    <div
      class="mt-16 tablet:mb-0 mobile:mb-[115px] mb-[140px] relative w-full grid tablet:grid-cols-3 grid-cols-2 2xl:gap-28 xl:gap-24 lg:gap-20 tablet:gap-16 mobile:gap-[24px] gap-[16px] tablet:gap-y-[24px] mobile:gap-y-[50px] gap-y-[32px] tablet:px-[40px] sm:px-[100px] px-[28px]"
    >
      <div
        class="flex flex-col rounded-xl shadow-lg bg-gray-50 col-span-1 2xl:p-[30px] xl:p-[26px] lg:p-[24px] mobile:p-[20px] p-[15px] dark:bg-dark-card"
      >
        <div
          class="tablet:justify-start justify-center w-full flex align-middle mobile:h-[30px] h-[16px]"
        >
          <svg
            width="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M25.6067 25.6067C25.0209 26.1925 24.0711 26.1925 23.4854 25.6067L4.39348 6.5148C3.80769 5.92901 3.80769 4.97926 4.39348 4.39348C4.97927 3.80769 5.92901 3.80769 6.5148 4.39348L25.6067 23.4854C26.1925 24.0711 26.1925 25.0209 25.6067 25.6067Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M25.6067 4.39332C26.1925 4.97911 26.1925 5.92885 25.6067 6.51464L6.5148 25.6065C5.92901 26.1923 4.97926 26.1923 4.39348 25.6065C3.80769 25.0207 3.80769 24.071 4.39348 23.4852L23.4854 4.39332C24.0711 3.80753 25.0209 3.80753 25.6067 4.39332Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M30 15C30 15.8284 29.3284 16.5 28.5 16.5L1.5 16.5C0.671574 16.5 -3.62117e-08 15.8284 0 15C3.62117e-08 14.1716 0.671574 13.5 1.5 13.5L28.5 13.5C29.3284 13.5 30 14.1716 30 15Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15 0C15.8284 0 16.5 0.671573 16.5 1.5V28.5C16.5 29.3284 15.8284 30 15 30C14.1716 30 13.5 29.3284 13.5 28.5V1.5C13.5 0.671573 14.1716 0 15 0Z"
              fill="#FF6909"
            ></path>
          </svg>
        </div>
        <div
          class="2xl:text-[28px] xl:text-[26px] lg:text-[24px] tablet:text-[22px] mobile:text-[20px] text-[16px] font-bold 2xl:mt-[30px] xl:mt-[26px] lg:mt-[24px] tablet:mt-[20px]"
        >
          <span class="dark:text-dark-light-grey">We keep it</span
          ><span class="text-accent-color dark:text-dark-orange">&nbsp;simple.</span>
        </div>
        <span
          class="2xl:text-[20px] xl:text-[18px] lg:text-[16px] mobile:text-[14px] text-[8px] mobile:mt-[30px] mt-[12px] 2xl:mb-[30px] xl:mb-[22px] lg:mb-[16px] mb-[10px] texteerieblack dark:text-dark-light-grey"
          >Lorem ipsum dolor sit amet consectetur. Consectetur mauris
          nulla tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.</span
        ><!--v-if-->
      </div>
      <div
        class="flex flex-col rounded-xl shadow-lg bg-gray-50 col-span-1 2xl:p-[30px] xl:p-[26px] lg:p-[24px] mobile:p-[20px] p-[15px] dark:bg-dark-card"
      >
        <div
          class="tablet:justify-start justify-center w-full flex align-middle mobile:h-[30px] h-[16px]"
        >
          <svg
            width="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.43938 0.439379C0.841127 0.037632 1.43538 -0.102652 1.97438 0.0770168L28.9743 9.077C29.6118 9.28949 30.0302 9.90001 29.9983 10.5712C29.9664 11.2424 29.492 11.8105 28.8373 11.9616L15.1258 15.1258L11.9616 28.8373C11.8105 29.492 11.2424 29.9664 10.5712 29.9983C9.90001 30.0302 9.28949 29.6118 9.077 28.9743L0.0770156 1.97438C-0.102651 1.43538 0.037632 0.841126 0.43938 0.439379ZM10.2372 22.9681L12.4134 13.5377C12.5424 12.9788 12.9788 12.5424 13.5377 12.4134L22.9681 10.2372L3.87174 3.87174L10.2372 22.9681Z"
              fill="#FF6909"
            ></path>
          </svg>
        </div>
        <div
          class="2xl:text-[28px] xl:text-[26px] lg:text-[24px] tablet:text-[22px] mobile:text-[20px] text-[16px] font-bold 2xl:mt-[30px] xl:mt-[26px] lg:mt-[24px] tablet:mt-[20px]"
        >
          <span class="dark:text-dark-light-grey">We take it</span
          ><span class="text-accent-color dark:text-dark-orange">&nbsp;step-by-step.</span>
        </div>
        <span
          class="2xl:text-[20px] xl:text-[18px] lg:text-[16px] mobile:text-[14px] text-[8px] mobile:mt-[30px] mt-[12px] 2xl:mb-[30px] xl:mb-[22px] lg:mb-[16px] mb-[10px] texteerieblack dark:text-dark-light-grey"
          >Lorem ipsum dolor sit amet consectetur. Consectetur mauris
          nulla tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.</span
        ><!--v-if-->
      </div>
      <div
        class="flex flex-col rounded-xl shadow-lg bg-gray-50 col-span-1 2xl:p-[30px] xl:p-[26px] lg:p-[24px] mobile:p-[20px] p-[15px] dark:bg-dark-card"
      >
        <div
          class="tablet:justify-start justify-center w-full flex align-middle mobile:h-[30px] h-[16px]"
        >
          <svg
            width="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3 15C3 21.6274 8.37258 27 15 27C21.6274 27 27 21.6274 27 15C27 14.1716 27.6716 13.5 28.5 13.5C29.3284 13.5 30 14.1716 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 3.62117e-07 23.2843 0 15C-1.67887e-07 11.1592 1.44551 7.65242 3.81982 4.99963C4.37231 4.38235 5.3206 4.32981 5.93789 4.8823C6.55518 5.43479 6.60771 6.38309 6.05522 7.00038C4.15417 9.1244 3 11.9256 3 15Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9 15C9 18.3137 11.6863 21 15 21C18.3137 21 21 18.3137 21 15C21 14.1716 21.6716 13.5 22.5 13.5C23.3284 13.5 24 14.1716 24 15C24 19.9706 19.9706 24 15 24C10.0294 24 6 19.9706 6 15C6 12.4827 7.03549 10.2045 8.69993 8.57278C9.29151 7.99284 10.2412 8.00228 10.8211 8.59386C11.4011 9.18544 11.3916 10.1351 10.8001 10.7151C9.68747 11.8058 9 13.3213 9 15Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.261 16.3053C13.6368 15.9519 13.3502 15.2061 13.577 14.5257L18.077 1.02567C18.2248 0.582148 18.571 0.23292 19.0132 0.0811975C19.4554 -0.0705255 19.9431 -0.00739557 20.3321 0.251932L24.8321 3.25193C25.1892 3.49005 25.4273 3.86978 25.4859 4.29502C25.5446 4.72027 25.4183 5.15027 25.1389 5.47619L16.1389 15.9762C15.6721 16.5208 14.8851 16.6587 14.261 16.3053ZM18.8445 8.20984L21.7595 4.80909L20.302 3.83744L18.8445 8.20984Z"
              fill="#FF6909"
            ></path>
          </svg>
        </div>
        <div
          class="2xl:text-[28px] xl:text-[26px] lg:text-[24px] tablet:text-[22px] mobile:text-[20px] text-[16px] font-bold 2xl:mt-[30px] xl:mt-[26px] lg:mt-[24px] tablet:mt-[20px]"
        >
          <span class="dark:text-dark-light-grey">We love to</span
          ><span class="text-accent-color dark:text-dark-orange">&nbsp;explore.</span>
        </div>
        <span
          class="2xl:text-[20px] xl:text-[18px] lg:text-[16px] mobile:text-[14px] text-[8px] mobile:mt-[30px] mt-[12px] 2xl:mb-[30px] xl:mb-[22px] lg:mb-[16px] mb-[10px] texteerieblack dark:text-dark-light-grey"
          >Lorem ipsum dolor sit amet consectetur. Consectetur mauris
          nulla tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.</span
        ><!--v-if-->
      </div>
      <div
        class="flex flex-col rounded-xl shadow-lg bg-gray-50 col-span-1 2xl:p-[30px] xl:p-[26px] lg:p-[24px] mobile:p-[20px] p-[15px] dark:bg-dark-card"
      >
        <div
          class="tablet:justify-start justify-center w-full flex align-middle mobile:h-[30px] h-[16px]"
        >
          <svg
            width="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.52684 27.0371C3.69633 27.1731 2.95742 27.6615 2.56392 28.0574C1.97993 28.645 1.03019 28.6479 0.442606 28.0639C-0.144979 27.4799 -0.147899 26.5302 0.436084 25.9426C1.16758 25.2066 2.45367 24.3367 4.04191 24.0765C5.72473 23.8009 7.61894 24.2372 9.31392 25.9426C10.3189 26.9538 11.2372 27.0835 11.9732 26.9629C12.8037 26.8269 13.5426 26.3385 13.9361 25.9426C14.6676 25.2066 15.9537 24.3366 17.5419 24.0765C19.2247 23.8009 21.1189 24.2372 22.8139 25.9426C23.8189 26.9538 24.7372 27.0835 25.4732 26.9629C26.3037 26.8269 27.0426 26.3385 27.4361 25.9426C28.0201 25.355 28.9698 25.3521 29.5574 25.9361C30.145 26.5201 30.1479 27.4698 29.5639 28.0574C28.8324 28.7934 27.5463 29.6633 25.9581 29.9235C24.2753 30.1991 22.3811 29.7628 20.6861 28.0574C19.6811 27.0462 18.7628 26.9165 18.0268 27.0371C17.1963 27.1731 16.4574 27.6615 16.0639 28.0574C15.3324 28.7934 14.0463 29.6633 12.4581 29.9235C10.7753 30.1991 8.88106 29.7628 7.18608 28.0574C6.18106 27.0462 5.26277 26.9165 4.52684 27.0371Z"
              fill="#FF6909"
            ></path>
            <path
              d="M9 7.5C9 8.32843 8.32843 9 7.5 9C6.67157 9 6 8.32843 6 7.5C6 6.67157 6.67157 6 7.5 6C8.32843 6 9 6.67157 9 7.5Z"
              fill="#FF6909"
            ></path>
            <path
              d="M13.5 3C13.5 3.82843 12.8284 4.5 12 4.5C11.1716 4.5 10.5 3.82843 10.5 3C10.5 2.17157 11.1716 1.5 12 1.5C12.8284 1.5 13.5 2.17157 13.5 3Z"
              fill="#FF6909"
            ></path>
            <path
              d="M4.5 3C4.5 3.82843 3.82843 4.5 3 4.5C2.17157 4.5 1.5 3.82843 1.5 3C1.5 2.17157 2.17157 1.5 3 1.5C3.82843 1.5 4.5 2.17157 4.5 3Z"
              fill="#FF6909"
            ></path>
            <path
              d="M22.5 1.5C22.5 2.32843 21.8284 3 21 3C20.1716 3 19.5 2.32843 19.5 1.5C19.5 0.671573 20.1716 0 21 0C21.8284 0 22.5 0.671573 22.5 1.5Z"
              fill="#FF6909"
            ></path>
            <path
              d="M28.5 6C28.5 6.82843 27.8284 7.5 27 7.5C26.1716 7.5 25.5 6.82843 25.5 6C25.5 5.17157 26.1716 4.5 27 4.5C27.8284 4.5 28.5 5.17157 28.5 6Z"
              fill="#FF6909"
            ></path>
            <path
              d="M12 13.5C12 14.3284 11.3284 15 10.5 15C9.67157 15 9 14.3284 9 13.5C9 12.6716 9.67157 12 10.5 12C11.3284 12 12 12.6716 12 13.5Z"
              fill="#FF6909"
            ></path>
            <path
              d="M6 15.75C6 16.9926 4.99264 18 3.75 18C2.50736 18 1.5 16.9926 1.5 15.75C1.5 14.5074 2.50736 13.5 3.75 13.5C4.99264 13.5 6 14.5074 6 15.75Z"
              fill="#FF6909"
            ></path>
            <path
              d="M12 19.5C12 20.3284 11.3284 21 10.5 21C9.67157 21 9 20.3284 9 19.5C9 18.6716 9.67157 18 10.5 18C11.3284 18 12 18.6716 12 19.5Z"
              fill="#FF6909"
            ></path>
            <path
              d="M18 16.5C18 17.3284 17.3284 18 16.5 18C15.6716 18 15 17.3284 15 16.5C15 15.6716 15.6716 15 16.5 15C17.3284 15 18 15.6716 18 16.5Z"
              fill="#FF6909"
            ></path>
            <path
              d="M25.5 18.75C25.5 19.9926 24.4926 21 23.25 21C22.0074 21 21 19.9926 21 18.75C21 17.5074 22.0074 16.5 23.25 16.5C24.4926 16.5 25.5 17.5074 25.5 18.75Z"
              fill="#FF6909"
            ></path>
            <path
              d="M30 13.5C30 14.3284 29.3284 15 28.5 15C27.6716 15 27 14.3284 27 13.5C27 12.6716 27.6716 12 28.5 12C29.3284 12 30 12.6716 30 13.5Z"
              fill="#FF6909"
            ></path>
            <path
              d="M18 8.25C18 9.49264 16.9926 10.5 15.75 10.5C14.5074 10.5 13.5 9.49264 13.5 8.25C13.5 7.00736 14.5074 6 15.75 6C16.9926 6 18 7.00736 18 8.25Z"
              fill="#FF6909"
            ></path>
            <path
              d="M24 10.5C24 11.3284 23.3284 12 22.5 12C21.6716 12 21 11.3284 21 10.5C21 9.67157 21.6716 9 22.5 9C23.3284 9 24 9.67157 24 10.5Z"
              fill="#FF6909"
            ></path>
          </svg>
        </div>
        <div
          class="2xl:text-[28px] xl:text-[26px] lg:text-[24px] tablet:text-[22px] mobile:text-[20px] text-[16px] font-bold 2xl:mt-[30px] xl:mt-[26px] lg:mt-[24px] tablet:mt-[20px]"
        >
          <span class="dark:text-dark-light-grey">We</span
          ><span class="text-accent-color dark:text-dark-orange">&nbsp;stop at nothing.</span>
        </div>
        <span
          class="2xl:text-[20px] xl:text-[18px] lg:text-[16px] mobile:text-[14px] text-[8px] mobile:mt-[30px] mt-[12px] 2xl:mb-[30px] xl:mb-[22px] lg:mb-[16px] mb-[10px] texteerieblack dark:text-dark-light-grey"
          >Lorem ipsum dolor sit amet consectetur. Consectetur mauris
          nulla tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.</span
        ><!--v-if-->
      </div>
      <div
        class="flex flex-col rounded-xl shadow-lg bg-gray-50 col-span-1 2xl:p-[30px] xl:p-[26px] lg:p-[24px] mobile:p-[20px] p-[15px] dark:bg-dark-card"
      >
        <div
          class="tablet:justify-start justify-center w-full flex align-middle mobile:h-[30px] h-[16px]"
        >
          <svg
            width="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 3.33333C0 1.49238 1.49238 0 3.33333 0H10C11.8409 0 13.3333 1.49238 13.3333 3.33333V10C13.3333 11.8409 11.8409 13.3333 10 13.3333H3.33333C1.49238 13.3333 0 11.8409 0 10V3.33333ZM10 3.33333H3.33333V10H10V3.33333Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 20C0 18.159 1.49238 16.6667 3.33333 16.6667H10C11.8409 16.6667 13.3333 18.159 13.3333 20V26.6667C13.3333 28.5076 11.8409 30 10 30H3.33333C1.49238 30 0 28.5076 0 26.6667V20ZM10 20H3.33333V26.6667H10V20Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.6667 3.33333C16.6667 1.49238 18.159 0 20 0H26.6667C28.5076 0 30 1.49238 30 3.33333V10C30 11.8409 28.5076 13.3333 26.6667 13.3333H20C18.159 13.3333 16.6667 11.8409 16.6667 10V3.33333ZM26.6667 3.33333H20V10H26.6667V3.33333Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.6667 20C16.6667 18.159 18.159 16.6667 20 16.6667H26.6667C28.5076 16.6667 30 18.159 30 20V26.6667C30 28.5076 28.5076 30 26.6667 30H20C18.159 30 16.6667 28.5076 16.6667 26.6667V20ZM26.6667 20H20V26.6667H26.6667V20Z"
              fill="#FF6909"
            ></path>
          </svg>
        </div>
        <div
          class="2xl:text-[28px] xl:text-[26px] lg:text-[24px] tablet:text-[22px] mobile:text-[20px] text-[16px] font-bold 2xl:mt-[30px] xl:mt-[26px] lg:mt-[24px] tablet:mt-[20px]"
        >
          <span class="dark:text-dark-light-grey">Lorem ipsum</span
          ><span class="text-accent-color dark:text-dark-orange">&nbsp;dolor.</span>
        </div>
        <span
          class="2xl:text-[20px] xl:text-[18px] lg:text-[16px] mobile:text-[14px] text-[8px] mobile:mt-[30px] mt-[12px] 2xl:mb-[30px] xl:mb-[22px] lg:mb-[16px] mb-[10px] texteerieblack dark:text-dark-light-grey"
          >Lorem ipsum dolor sit amet consectetur. Consectetur mauris
          nulla tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.</span
        ><!--v-if-->
      </div>
      <div
        class="flex flex-col rounded-xl shadow-lg bg-gray-50 col-span-1 2xl:p-[30px] xl:p-[26px] lg:p-[24px] mobile:p-[20px] p-[15px] dark:bg-dark-card"
      >
        <div
          class="tablet:justify-start justify-center w-full flex align-middle mobile:h-[30px] h-[16px]"
        >
          <svg
            width="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 10.5C0 4.70101 4.70101 0 10.5 0H22.5C23.3284 0 24 0.671573 24 1.5C24 2.32843 23.3284 3 22.5 3H10.5C6.35786 3 3 6.35786 3 10.5V22.5C3 23.3284 2.32843 24 1.5 24C0.671573 24 0 23.3284 0 22.5V10.5Z"
              fill="#FF6909"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6 13.5C6 9.35786 9.35787 6 13.5 6H22.5C26.6421 6 30 9.35787 30 13.5V22.5C30 26.6421 26.6421 30 22.5 30H13.5C9.35786 30 6 26.6421 6 22.5V13.5ZM13.5 9C11.0147 9 9 11.0147 9 13.5V22.5C9 24.9853 11.0147 27 13.5 27H22.5C24.9853 27 27 24.9853 27 22.5V13.5C27 11.0147 24.9853 9 22.5 9H13.5Z"
              fill="#FF6909"
            ></path>
          </svg>
        </div>
        <div
          class="2xl:text-[28px] xl:text-[26px] lg:text-[24px] tablet:text-[22px] mobile:text-[20px] text-[16px] font-bold 2xl:mt-[30px] xl:mt-[26px] lg:mt-[24px] tablet:mt-[20px]"
        >
          <span class="dark:text-dark-light-grey">Lorem ipsum</span
          ><span class="text-accent-color dark:text-dark-orange">&nbsp;dolor.</span>
        </div>
        <span
          class="2xl:text-[20px] xl:text-[18px] lg:text-[16px] mobile:text-[14px] text-[8px] mobile:mt-[30px] mt-[12px] 2xl:mb-[30px] xl:mb-[22px] lg:mb-[16px] mb-[10px] texteerieblack dark:text-dark-light-grey"
          >Lorem ipsum dolor sit amet consectetur. Consectetur mauris
          nulla tellus ultricies lobortis. Ornare sodales sit arcu nunc eu
          pellentesque. Purus elit tortor ornare.</span
        ><!--v-if-->
      </div>
      <img
        class="absolute w-[15%] tablet:right-1/4 tablet:bottom-[45%] right-[60%] sm:top-[27%] top-[30%]"
        src="{% static "images/images/spring1.png" %}"
      /><img
        class="absolute w-[15%] bottom-[-7%] left-[25%]"
        src="{% static "images/images/spring2.png" %}"
      /><img
        class="absolute w-[15%] tablet:top-[38%] right-[75%] mobile:top-[65%] top-[67%]"
        src="{% static "images/images/toggle.png" %}"
      /><img
        class="absolute w-[15%] tablet:right-[-2%] tablet:top-[90%] right-[20%] sm:top-[27%] top-[30%]"
        src="{% static "images/images/tab.png" %}"
      />
    </div>
    <div
      class="w-4/5 justify-center border-2 bg-gray-200 mt-[220px]"
    ></div>
    <!--Testimonials-->
    <div
      class="flex flex-col lg:w-4/5 w-full justify-center items-center"
    >
      <span
        class="font-bold primaryfont 2xl:text-[68px] xl:text-[58px] text-[48px] mt-[50px] dark:text-dark-light-grey"
        >Testimonials</span
      >
      <div class="flex mt-[100px]">
        <div
          class="flex align-middle justify-center items-center 2xl:p-10 xl:p-8 lg:p-6 p-5 dark:text-dark-orange"
        >
          <svg
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.167969"
              y="0.416992"
              width="59.166"
              height="59.166"
              rx="29.583"
            ></rect>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M25.1823 30.8712C24.7009 30.3898 24.7009 29.6093 25.1823 29.128L32.5781 21.7322C33.0594 21.2508 33.8399 21.2508 34.3213 21.7322C34.8026 22.2136 34.8026 22.994 34.3213 23.4754L27.7971 29.9996L34.3213 36.5237C34.8026 37.0051 34.8026 37.7855 34.3213 38.2669C33.8399 38.7483 33.0594 38.7483 32.5781 38.2669L25.1823 30.8712Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        <div
          class="bg-gray-100 dark:bg-dark-card rounded-xl flex flex-row items-center align-middle p-4"
        >
          <img class="w-2/5" src="{% static "images/images/danielle.png" %}" />
          <div class="flex flex-col">
            <span
              class="2xl:text-[22px] xl:text-[20px] lg:text-[18px] text-[16px] texteerieblack dark:text-dark-light-grey"
              >"Lorem ipsum dolor sit amet consectetur. Consectetur mauris
              nulla tellus ultricies lobortis. Ornare sodales sit arcu
              nunc eu pellentesque. Purus elit tortor ornare."</span
            ><span
              class="2xl:text-[22px] xl:text-[20px] lg:text-[18px] text-[16px] mt-[15px] accentcolor font-semibold dark:text-dark-orange"
              >Company name</span
            ><span class="lg:text-[16px] text-[14px] text-primary-color dark:text-dark-light-grey"
              >Name of the client</span
            >
          </div>
        </div>
        <div
          class="flex align-middle justify-center items-center 2xl:p-10 xl:p-8 lg:p-6 p-5 dark:text-dark-orange"
        >
          <svg
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.666016"
              y="0.416992"
              width="59.166"
              height="59.166"
              rx="29.583"
            ></rect>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.8177 29.1288C35.2991 29.6102 35.2991 30.3907 34.8177 30.872L27.4219 38.2678C26.9406 38.7492 26.1601 38.7492 25.6787 38.2678C25.1974 37.7864 25.1974 37.006 25.6787 36.5246L32.2029 30.0004L25.6787 23.4763C25.1974 22.9949 25.1974 22.2145 25.6787 21.7331C26.1601 21.2517 26.9406 21.2517 27.4219 21.7331L34.8177 29.1288Z"
              fill="currentColor"
              fill-opacity="0.8"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div
      class="w-4/5 justify-center border-2 bg-gray-200 mt-[160px]"
    ></div>
    <!--FAQ-->
    <div
      class="mt-[50px] flex flex-col w-full items-center align-middle mb-[200px]"
    >
      <span
        class="2xl:text-[68px] xl:text-[58px] text-[48px] font-bold primaryfont dark:text-dark-light-grey"
        >FAQ</span
      >
      <div
        class="mt-[120px] grid grid-cols-2 gap-[30px] gap-y-[45px] shrink"
      >
        <div
          class="col-span-1 flex flex-col bg-gray-100 dark:bg-dark-card rounded-3xl 2xl:p-[35px] xl:p-[30px] lg:p-[25px] p-[20px] h-fit w-fit"
        >
          <button
            class="cursor-pointer flex flex-row whitespace-nowrap items-center align-middle justify-start"
          >
            <span
              class="2xl:text-[27px] xl:text-[22px] lg:text-[18px] md:text-[15px] text-[12px] font-semibold dark:text-dark-light-grey"
              >What types of Services does hubinit offer?</span
            ><svg
              class="2xl:ml-[20px] xl:ml-[16px] lg:ml-[14px] ml-[12px] 2xl:w-[26px] xl:w-[22px] lg:w-[18px] w-[16px] 2xl:h-[15px] xl:h-[13px] lg:h-[11px] h-[9px] dark:text-dark-light-grey"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9493 1.29843C12.6297 0.617972 13.733 0.617972 14.4134 1.29843L24.868 11.753C25.5484 12.4334 25.5484 13.5367 24.868 14.2171C24.1875 14.8976 23.0843 14.8976 22.4038 14.2171L13.1813 4.99467L3.95888 14.2171C3.27842 14.8976 2.17518 14.8976 1.49472 14.2171C0.814259 13.5367 0.814259 12.4334 1.49472 11.753L11.9493 1.29843Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="col-span-1 flex flex-col bg-gray-100 dark:bg-dark-card rounded-3xl 2xl:p-[35px] xl:p-[30px] lg:p-[25px] p-[20px] h-fit w-fit"
        >
          <button
            class="cursor-pointer flex flex-row whitespace-nowrap items-center align-middle justify-start"
          >
            <span
              class="2xl:text-[27px] xl:text-[22px] lg:text-[18px] md:text-[15px] text-[12px] font-semibold dark:text-dark-light-grey"
              >What types of Services does hubinit offer?</span
            ><svg
              class="2xl:ml-[20px] xl:ml-[16px] lg:ml-[14px] ml-[12px] 2xl:w-[26px] xl:w-[22px] lg:w-[18px] w-[16px] 2xl:h-[15px] xl:h-[13px] lg:h-[11px] h-[9px] dark:text-dark-light-grey"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9493 1.29843C12.6297 0.617972 13.733 0.617972 14.4134 1.29843L24.868 11.753C25.5484 12.4334 25.5484 13.5367 24.868 14.2171C24.1875 14.8976 23.0843 14.8976 22.4038 14.2171L13.1813 4.99467L3.95888 14.2171C3.27842 14.8976 2.17518 14.8976 1.49472 14.2171C0.814259 13.5367 0.814259 12.4334 1.49472 11.753L11.9493 1.29843Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="col-span-1 flex flex-col bg-gray-100 dark:bg-dark-card rounded-3xl 2xl:p-[35px] xl:p-[30px] lg:p-[25px] p-[20px] h-fit w-fit"
        >
          <button
            class="cursor-pointer flex flex-row whitespace-nowrap items-center align-middle justify-start"
          >
            <span
              class="2xl:text-[27px] xl:text-[22px] lg:text-[18px] md:text-[15px] text-[12px] font-semibold dark:text-dark-light-grey"
              >What types of Services does hubinit offer?</span
            ><svg
              class="2xl:ml-[20px] xl:ml-[16px] lg:ml-[14px] ml-[12px] 2xl:w-[26px] xl:w-[22px] lg:w-[18px] w-[16px] 2xl:h-[15px] xl:h-[13px] lg:h-[11px] h-[9px] dark:text-dark-light-grey"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9493 1.29843C12.6297 0.617972 13.733 0.617972 14.4134 1.29843L24.868 11.753C25.5484 12.4334 25.5484 13.5367 24.868 14.2171C24.1875 14.8976 23.0843 14.8976 22.4038 14.2171L13.1813 4.99467L3.95888 14.2171C3.27842 14.8976 2.17518 14.8976 1.49472 14.2171C0.814259 13.5367 0.814259 12.4334 1.49472 11.753L11.9493 1.29843Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="col-span-1 flex flex-col bg-gray-100 dark:bg-dark-card rounded-3xl 2xl:p-[35px] xl:p-[30px] lg:p-[25px] p-[20px] h-fit w-fit"
        >
          <button
            class="cursor-pointer flex flex-row whitespace-nowrap items-center align-middle justify-start"
          >
            <span
              class="2xl:text-[27px] xl:text-[22px] lg:text-[18px] md:text-[15px] text-[12px] font-semibold dark:text-dark-light-grey"
              >What types of Services does hubinit offer?</span
            ><svg
              class="2xl:ml-[20px] xl:ml-[16px] lg:ml-[14px] ml-[12px] 2xl:w-[26px] xl:w-[22px] lg:w-[18px] w-[16px] 2xl:h-[15px] xl:h-[13px] lg:h-[11px] h-[9px] dark:text-dark-light-grey"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9493 1.29843C12.6297 0.617972 13.733 0.617972 14.4134 1.29843L24.868 11.753C25.5484 12.4334 25.5484 13.5367 24.868 14.2171C24.1875 14.8976 23.0843 14.8976 22.4038 14.2171L13.1813 4.99467L3.95888 14.2171C3.27842 14.8976 2.17518 14.8976 1.49472 14.2171C0.814259 13.5367 0.814259 12.4334 1.49472 11.753L11.9493 1.29843Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="col-span-1 flex flex-col bg-gray-100 dark:bg-dark-card rounded-3xl 2xl:p-[35px] xl:p-[30px] lg:p-[25px] p-[20px] h-fit w-fit"
        >
          <button
            class="cursor-pointer flex flex-row whitespace-nowrap items-center align-middle justify-start"
          >
            <span
              class="2xl:text-[27px] xl:text-[22px] lg:text-[18px] md:text-[15px] text-[12px] font-semibold dark:text-dark-light-grey"
              >What types of Services does hubinit offer?</span
            ><svg
              class="2xl:ml-[20px] xl:ml-[16px] lg:ml-[14px] ml-[12px] 2xl:w-[26px] xl:w-[22px] lg:w-[18px] w-[16px] 2xl:h-[15px] xl:h-[13px] lg:h-[11px] h-[9px] dark:text-dark-light-grey"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9493 1.29843C12.6297 0.617972 13.733 0.617972 14.4134 1.29843L24.868 11.753C25.5484 12.4334 25.5484 13.5367 24.868 14.2171C24.1875 14.8976 23.0843 14.8976 22.4038 14.2171L13.1813 4.99467L3.95888 14.2171C3.27842 14.8976 2.17518 14.8976 1.49472 14.2171C0.814259 13.5367 0.814259 12.4334 1.49472 11.753L11.9493 1.29843Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="col-span-1 flex flex-col bg-gray-100 dark:bg-dark-card rounded-3xl 2xl:p-[35px] xl:p-[30px] lg:p-[25px] p-[20px] h-fit w-fit"
        >
          <button
            class="cursor-pointer flex flex-row whitespace-nowrap items-center align-middle justify-start"
          >
            <span
              class="2xl:text-[27px] xl:text-[22px] lg:text-[18px] md:text-[15px] text-[12px] font-semibold dark:text-dark-light-grey"
              >What types of Services does hubinit offer?</span
            ><svg
              class="2xl:ml-[20px] xl:ml-[16px] lg:ml-[14px] ml-[12px] 2xl:w-[26px] xl:w-[22px] lg:w-[18px] w-[16px] 2xl:h-[15px] xl:h-[13px] lg:h-[11px] h-[9px] dark:text-dark-light-grey"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.9493 1.29843C12.6297 0.617972 13.733 0.617972 14.4134 1.29843L24.868 11.753C25.5484 12.4334 25.5484 13.5367 24.868 14.2171C24.1875 14.8976 23.0843 14.8976 22.4038 14.2171L13.1813 4.99467L3.95888 14.2171C3.27842 14.8976 2.17518 14.8976 1.49472 14.2171C0.814259 13.5367 0.814259 12.4334 1.49472 11.753L11.9493 1.29843Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}