{% extends "layout/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block main %}

<div class="w-full flex flex-col items-center" style="">
  <div
    class="max-w-screen-desktop w-full desktop:px-[112px] tablet:px-[50px] flex flex-col ml-20"
  >
    <!-- Get in touch -->
    <header
      class="2xl:text-[68px] xl:text-[60px] tablet:text-[40px] mobile:text-[32px] text-[30px] mt-[60px] mb-2 w-full text-left primaryfont"
    >
      Get in <span class="accentcolor">touch.</span>
    </header>
    <p class="text-[24px] primaryfont">
      We would be happy to assist you.
    </p>
    <section class="flex flex-row pb-[144px] gap-x-24 z-10 mt-10">
      <!-- Contact Details Card -->
      <div
        class="w-fit rounded-xl flex flex-col p-14 gap-y-12 shadow-lg h-fit"
      >
        <!-- Office -->
        <div>
          <div class="flex flex-row -ml-7">
            <img
              class="w-5 shrink-0 z-0 mr-3"
              src="{% static "images/icons/location-marker.svg" %}"
            />
            <h3 class="text-[24px] primaryfont">Office</h3>
          </div>
          <p class="text-[20px] mb-4">Come visit our office!</p>
          <span class="accentcolor">
            Overhoeksplein 3 Amsterdam The Netherlands
          </span>
        </div>
        <!-- Send us a message -->
        <div>
          <div class="flex flex-row -ml-7">
            <img
              class="w-5 shrink-0 z-0 mr-3"
              src="{% static "images/icons/message.svg" %}"
            />
            <h3 class="text-[24px] primaryfont">Send us a message</h3>
          </div>
          <p class="text-[20px] mb-4">Send us an email.</p>
          <span class="accentcolor">info@hubinit.eu</span>
        </div>
        <!-- Phone -->
        <div>
          <div class="flex flex-row -ml-7">
            <img
              class="w-5 shrink-0 z-0 mr-3"
              src="{% static "images/icons/phone.svg" %}"
            />
            <h3 class="text-[24px] primaryfont">Phone</h3>
          </div>
          <p class="text-[20px] mb-4">Give us a call</p>
          <span class="accentcolor">+31 (0) 6 38 67 28 78</span>
        </div>
      </div>
      <!-- Tell us more about yourself -->
      <form class="flex flex-col w-full z-20">
        <h2 class="text-[28px] primaryfont pb-8">
          Tell us more about <span class="accentcolor">yourself!</span>
        </h2>
        <input
          class="mb-8 p-4 shadow-lg rounded-lg w-8/12"
          type="text"
          placeholder="Full name"
        /><input
          class="mb-8 p-4 shadow-lg rounded-lg w-8/12"
          type="email"
          placeholder="Email address"
        /><input
          class="mb-12 p-4 shadow-lg rounded-lg w-8/12"
          type="text"
          placeholder="Phone number"
        />
        <h2 class="text-[28px] primaryfont pb-4">
          Tell us how we may <span class="accentcolor">assist you</span>
        </h2>
        <textarea
          class="mb-8 p-4 shadow-lg rounded-lg w-8/12 h-[200px]"
          placeholder="Share your idea with us..."
        ></textarea
        ><button class="bgblazeorange p-4 rounded-xl text-white w-8/12">
          Send your message
        </button>
      </form>
    </section>
    <!-- Illustration -->
    <div class="relative">
      <img
        class="absolute sm:w-[240px] md:w-[480px] lg:w-[560px] w-[240px] bottom-0 right-8 z-0"
        src="{% static "images/images/contactus-form.png" %}"
      />
    </div>
  </div>
</div>

{% endblock main %}