{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static "images/favicon.ico" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hubinit | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/tailwindcss.css" %}" />
    <link rel="stylesheet" href="{% static "css/carousel.css" %}"></script>
    <link rel="stylesheet" href="{% static "css/gotothetop.css" %}"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "owl-carousel/owl.carousel.css" %}" />
    <link rel="stylesheet" href="{% static "owl-carousel/owl.theme.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>

  <body class="bg-white h-full" style="cursor: auto">
    <div id="app" class="w-full flex justify-center flex-col items-center textspaceodet overflow-clip" data-v-app="">
      {% include "layout/header.html" %}
      {% block main %}{% endblock main %}
      {% include "layout/gototop.html" %}
      {% include "layout/footer.html" %}
    <script type="text/javascript" src="{% static "owl-carousel/owl.carousel.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gototop.js" %}"></script>
    <script type="text/javascript" src="{% static "js/navbar.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
  </body>
</html>