{% load static %}
<div id="goToTheTopDiv" class="sticky w-full justify-center bottom-2 flex z-50 pointer-events-none" style="visibility: hidden">
  <div class="max-w-screen-2xl w-full flex justify-end -mt-40 -ml-[20px]">
    <div class="absolute">
      <div class="z-50 text-white lg:text-xl mobile:text-lg text-md">
        <a
          id="goToTheTop"
          href="#"
          class="rounded-3xl lg:p-7 mobile:p-6 p-4 bgblazeorange z-50 relative pointer-events-auto"
          ><span class="lg:mr-20 mr-16">Go to the top</span>
          <div
            class="absolute overflow-hidden lg:-mt-28 -mt-20 lg:left-28 mobile:left-28 left-28"
          >
            <img
              class="rocketAnim"
              src="{% static "images/images/smallrocket.png" %}"
            />
            <img
              class="absolute rocketAnim2"
              src="{% static "images/images/smallrocket.png" %}"
            />
          </div
        ></a>
      </div>
    </div>
  </div>
</div>
